/* Fonts */

@font-face {
    font-family: "Tan Nimbus";
    font-weight: 800;
    font-style: normal;
    src: url("./fonts/TAN-NIMBUS.otf")
}

@font-face {
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/PT-Mono.ttf")
}

@font-face {
    font-family: "PT Mono";
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/PT-Mono-Bold.ttf")
}




/* Delcaring CSS Variables */

:root {
    --main-background-color: #DDDDDB;
    --background-color: #21211D;
    --brown-color: #755330;
    --blue-color: #7CC0CB;
}



/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Setting Font Weights */

h1 {
    font-family: "gamay", "sans-serif";
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-family: "Tan Nimbus";
    font-weight: 800;
    font-style: normal;
}

h3 {
    font-family: "gamay", "sans-serif";
    font-weight: 500;
    font-style: italic;
}

h4 {
    font-family: "gamay", "sans-serif";
    font-weight: 200;
    font-style: italic;
}

p {
    font-family: "PT Mono", "serif";
    font-weight: 400;
    font-style: normal;
}


/* Global Styles */

html {
    scroll-behavior: smooth;
}


body {
    color: var(--main-background-color)
}



.primary-background {
    background-color: var(--main-background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* overflow-x: hidden;  */
    padding: 40px 55px 40px 40px;
    box-sizing: border-box;
    z-index: -5;
}

.main-background {
    background-color: var(--background-color);
    /* height: calc(100% - 80px); */
    width: 100%;
    border-radius: 45px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.primary-background2 {
    background-color: var(--main-background-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden; 
    padding: 40px 50px 40px 40px;
    box-sizing: border-box;
}

.main-background2 {
    background-color: var(--background-color);
    height: calc(100% - 80px);
    border-radius: 45px;
    position: relative;
    overflow: hidden;
}

ul {
    list-style: none;
    font-family: "gamay", "sans-serif";
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vh;
    letter-spacing: 0.5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    
    overflow-x: hidden;
}


/* Navigation */


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.nav-item {
    margin-right: 40px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.nav-center {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.nav-logo {
    height: clamp(20px, 2.5vw, 400px);
    width: auto;
}

.nav-right {
    display: flex; 
    gap: 5rem;
}

/* Hero Section */

.hero-container {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    margin-top: 6vh;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.illustration-container {
    position: relative;
}

.illustration {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.hero-text {
    position: absolute;
    top: 9%;
    font-size: 1.7vw;
    z-index: 3;
}


.eye {
    position: absolute;
    top: 53.8%;
    left: 72.2%;
    width: 3.8%;
    height: 2.6%;
    background-color: none;
    border-radius: 50%;
    z-index: 6;
}



.pupil {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18%;
    height: 40%;
    background-color: #755330;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}



/* Divider 1 */ 

.bar-brown {
    width: 100%;
    height: 4px;
    background-color: var(--brown-color);
}

.bar-black1 {
    width: 100%;
    height: 2px;
    background-color: var(--background-color);

}

.bar-black2 {
    width: 100%;
    height: 3px;
    background-color: var(--background-color);
}
.bar-black3 {
    width: 100%;
    height: 4px;
    background-color: var(--background-color);
}
.bar-black4 {
    width: 100%;
    height: 7px;
    background-color: var(--background-color);
}
.bar-black5 {
    width: 100%;
    height: 10px;
    background-color: var(--background-color);
}
.bar-black6 {
    width: 100%;
    height: 14px;
    background-color: var(--background-color);
}
.bar-black7 {
    width: 100%;
    height: 15px;
    background-color: var(--background-color);
}

.bar-blue1 {
    width: 100%;
    height: 15px;
    background-color: var(--blue-color);
}

.bar-black8 {
    width: 100%;
    height: 6px;
    background-color: var(--background-color);
}

.bar-white1 {
    width: 100%;
    height: 15px;
    background-color: var(--main-background-color);
}

/* Process Container */

.process-top-container  {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    margin: 2vw;
    height: 100%;
    padding: 1.5rem 2vw;
}

.geometric-eye {
    width: 80%; 
    height: auto;
}

.right-side {
    justify-self: center;
    font-size: 3.5vw;
}

.bold-italic {
    font-family: "gamay", "serif";
    font-weight: 400;
    font-style: italic;
}

.process-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-bottom: 2.2em;
    align-items: center;
    justify-content: center;
    position: relative;
}

.process-left {
    margin-left: 5vw;
    margin-top: 2vh;
    height: 100%;
}

.start-to-finish {
    height: 14vw;
    align-self: center;
}

.connect, .design, .develop, .launch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--main-background-color);
    font-size: 3.5vh;
    padding: 5px 1vw;
}

.brown-dots {
    margin: -5px;
    border-radius: 0 0 47px 47px;
    padding: 0 5px 0 5px;
}

/* Styles For Process accordion */

.tab-container {
    margin-right: 5vw;
    display: grid;
}

.tab {
    position: relative;
    border-top: 1px solid var(--main-background-color);
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
}

.tab input:checked ~ .tab-content {
    max-height: 10rem;
}

.tab-label, .tab-close {
    display: flex;
    cursor: pointer;
}

.tab-label {
    justify-content: space-between;
    padding: 1rem;
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    
}

.tab-label::after {
    font-family: Arial, Helvetica, sans-serif;
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}

.tab input:checked + .tab-label::after {
    transform: rotate(270deg);
}

.tab-content p {
    margin: 0;
    padding: 1rem;
}

.tab-close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0/75rem
}




/* -----------------------  Section 2  ------------------------------ */

/* Services Section */


.section-2-container {
    background-color: var(--blue-color);
    width: 100%;
    margin-top: 40px;
    border-radius: 45px 45px 0 0 ;
    overflow: hidden;
}

.full-service-container {
    display: grid;
    grid-template-columns: 50fr 1fr 50fr;
    margin: 2vh 0;
   
}

.service-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-service-graphic {
    height: 40vw;
}

.middle-lines {
    border-left: 2px solid var(--main-background-color);
    border-right: 2px solid var(--background-color);
    margin: 2vh 0; 
}

.services-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.list-items {
    
    line-height: 1.5;
}

.item-white {
    font-family: "Tan Nimbus";
    font-weight: 800;
    font-style: normal;
    font-size: 3.5vw;

}

.item-black {
    font-family: "Tan Nimbus";
    font-weight: 800;
    font-style: normal;
    color: var(--background-color);
    font-size: 3.5vw;
}

.bar-white2 {
    width: 100%;
    height: 7px;
    background-color: var(--main-background-color);
}

.bar-brown2 {
    width: 100%;
    height: 22px;
    background-color: var(--brown-color);
}

/* Pricing Section */

.section-3-container {
    background-color: var(--background-color);
    border-radius: 0 0 45px 45px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.pricing-text {
    font-size: 5vw;
    margin-bottom: 2.5vh;
}

.pricing-left {
    margin: 5vh 6vw;
    
}

.pricing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.pricing-definition {
    line-height: 1.4;
}

.pricing-right {
    margin: 9vh 6vw;
    display: grid;
}

.per-project, .monthly, .hourly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--main-background-color);
    font-size: 2.5vh;
    padding: 1.1vh 1vw;

}

.hourly {
    border-bottom: 1px solid var(--main-background-color);
}

.plus-sign2 {
    height: 2vw;
}

/* Accordion styles for Pricing Section */

.pricing-tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.pricing-tab input:checked ~ .pricing-tab-content {
    max-height: 10rem;
}

.pricing-tab {
    position: relative;
    border-top: 1px solid var(--main-background-color);
}

.pricing-tab-label, .tab-close {
    display: flex;
    cursor: pointer;
}

.pricing-tab-label {
    justify-content: space-between;
    padding: 1rem;
    font-family: "Tan Nimbus";
    font-weight: 800;
    font-style: normal;
    font-size: 3vw;
    
}

.pricing-tab-label::after {
    font-family: Arial, Helvetica, sans-serif;
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}

.pricing-tab-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
}

.pricing-tab input:checked + .pricing-tab-label::after {
    transform: rotate(270deg);
}

.pricing-tab-content p {
    margin: 0;
    padding: 1rem 0;
}

.pricing-tab-close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0/75rem
}




/* Section 4 */

.section-4-container {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-image: url("./images/landscapehalf2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-text {
    position: absolute;
    margin-top: 12vh;
    font-size: 4vw;
}

.testimonial-carousel {
    display: grid;
    gap: clamp(2vw, 9vw, 12vw);
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30vh;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
    background-color: var(--main-background-color);
    width: 15vw;
    border-radius: 20px;
}

.quotation {

    height: 3vw; 
    align-self: flex-start;
    margin-bottom: 18px;
}

.actual-testimonial {
    align-self: center;
    font-size: clamp(1rem, 0.9vw, 0.9vw);
    text-indent: 3ch;
}

.bold {
    font-family: "PT Mono";
    font-weight: 700;
    font-style: normal;
}

.client {
    margin-top: 18px;
}

/* Section 5 Footer */

.section-5-container {
    background-color: var(--background-color);
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 45px 45px;
}

.bar-black9 {
    width: 100%;
    height: 40px;
    background-color: var(--background-color);
}

.bar-white9 {
    width: 100%;
    height: 4px;
    background-color: var(--main-background-color);
}

.bar-white10 {
    width: 100%;
    height: 8px;
    background-color: var(--main-background-color);
}

.bar-brown10 {
    width: 100%;
    height: 40px;
    background-color: var(--brown-color);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;


}

.big-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.big-logo {
    height: 8vw;
}

.bottom-bar-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin-bottom: 10px;
    justify-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    
}

.bottom-bar-left, .bottom-bar-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    width: 100%;
    
}

.footer-bar {
    height: 1px;
    background-color: var(--main-background-color);
}

.copyright {
    white-space: nowrap;
    font-size: 1vw;
    padding: 0 2vw;
}

.hamburger {
    display: none;
}

.hamburger-bar {
    
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-background-color);
}

.hamburger-links {
    display: none;
    background-color: #2c2c29;
    margin-top: 0.8rem;
    padding: 0.3rem 0 0.4rem;
}

.nav-item2 {
    text-decoration: none;
    list-style: none;
    font-family: "gamay", "sans-serif";
    font-weight: 600;
    font-style: normal;
}

/* Media Queries */

/* -------------------  Media 2000px ----------------------*/

@media (min-width: 1600px) {
    .nav-logo {
        height: 3.5vh;
        width: auto;
    }

    .nav-item {
        font-size: 1.2vw;
    }
}

@media (min-width: 2000px) {
    .nav-logo {
        height: 4vh;
        width: auto;
    }

    .nav-item {
        font-size: 1.2vw;
    }
}

/* -------------------  Media 950px ----------------------*/

@media (max-width: 950px) {

    .primary-background {
        background-color: var(--main-background-color);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        overflow-x: hidden; 
        padding: 20px 20px 20px 20px;
        box-sizing: border-box;
    }
    
    .main-background {
        background-color: var(--background-color);
        /* height: calc(100% - 80px); */
        border-radius: 45px;
        position: relative;
        overflow: hidden;
    }

    .nav-item {
        font-size: 1.7vw;
    }

}

/* -------------------  Media 770px ----------------------*/

@media (max-width: 770px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding-right: 40px;
        margin-bottom: 4px;
    }

    .hamburger.active .hamburger-bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .hamburger-bar:nth-child(1) {
        transform: translateY(13px) rotate(45deg)
    }
    .hamburger.active .hamburger-bar:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg)
    }

    .nav-item {
        display: none;
    }

    .nav-center {
        margin: auto;
        padding-left: 70px;
    }

    .nav-logo {
        height: 5vw;
        width: auto;
    }

    .hamburger-links-container {
        position: relative;
    }

    .hamburger-links {
        position: fixed;
        top: 4.7rem;
        left: 0;
        width: 100%;
        background-color: rgba(44, 44, 41, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.5s ease;
        z-index: 100;
        transition: all 0.3s;
    }

    .hamburger-links.active {
        transform: translateX(0);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }

}


/* ------------------------------ Work (/pages/work.html) ----------------------- */

.primary-background2 {
    background-color: var(--main-background-color);
    height: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-x: hidden; 
    padding: 0 50px 0 40px;
    box-sizing: border-box;
}

.main-background2 {
    background-color: var(--background-color);
    border-radius: 45px;
    /* height: calc(100% - 80px);  */
    margin-top: 40px;
    margin-bottom: 40px;
    
    /* position: relative; */
    width: 100%;
    /* overflow: hidden; */
}

.work-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav-left2 {
    display: flex;
    margin: 0;
    padding:0;
    gap: 5rem;
}

.nav-center {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

/* .nav-logo2 {
    height: 3.1vh;
    width: auto;
} */

.nav-right2 {
    display: flex; 
    gap: 5rem;
    margin: 0;
    padding: 0;
}

.recent-work-header {
    padding: 120px 0 0 0;
    font-size: 4vw;
    line-height: 1;
}

.work-margins {
    padding: 0 5vw;
}

.bar-white20 {
    
    width: 100%;
    background-color: var(--main-background-color);
    height: 1px;
}
.bar-white21 {
    width: 100%;
    background-color: var(--main-background-color);
    margin-top: 4px;
    height: 2px;
}
.bar-white22 {
    width: 100%;
    background-color: var(--main-background-color);
    margin-top: 4px;
    height: 3px;
}

/* Portfolio Section */

.portfolio-title-container {
    display: flex;
    justify-content: space-between;
    margin-top: 240px;
    padding: 0 10px;
}

.portfolio-title-text {
    font-size: 1.3rem;
}

.portfolio-container {
    display: grid; 
    gap: 26px;
    padding: 26px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    border: 2px solid var(--main-background-color);
    border-radius: 15px;
    margin-top: 10px;
    background: var(--background-color);
    /* width: 100%; */
    overflow: hidden;
    margin-bottom: 240px;
}

.description-container {
    margin: -26px 0 -26px -26px;
    padding: 26px 14px 14px 14px;
    /* outline: 1px solid var(--main-background-color); */
    /* outline-offset: -2px; */
    /* border-radius: 0; */
    border-right: 2px solid var(--main-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-container2 {
    margin: -26px -26px -26px 0;
    padding: 26px 14px 14px 14px;
    /* outline: 1px solid var(--main-background-color); */
    /* outline-offset: -2px; */
    /* border-radius: 0; */
    border-left: 2px solid var(--main-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    text-indent: 3ch;
    font-size: clamp(1rem, 0.7vw, 0.7vw);
    line-height: 1.3rem;
}

.portfolio-image {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--main-background-color);
    margin: -15px -14px 24px -14px; 
    padding: 0 14px 10px 14px;
    
}

.color-blocks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.white-block {
    background-color: var(--main-background-color);
    height: 14px;
    width: 14px;
}
.blue-block {
    background-color: var(--blue-color);
    height: 14px;
    width: 14px;
}
.brown-block {
    background-color: var(--brown-color);
    height: 14px;
    width: 14px;
}

/* ----------------------- About Page -------------------------- */


.about-container {
    display: grid; 
    /* grid-template-columns: 600px 610px;  */
    grid-template-columns: 1fr 1fr;
    max-width: 1210px;
    justify-content: center;
    /* margin-top: 250px; */
    margin: 250px auto 0;
    gap: 10px;
    padding: 20px;
}

.about-left-side {
    background-color: var(--brown-color);
    height: 600px;
    border-radius: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    
}

.about-right-side {
    background-color: var(--main-background-color);
    height: 600px;
    border-radius: 0 100px 0 0;
    display: flex;
}

.heading-container {
    padding: 10px 14px 0px 10px;
    margin: 0 0 -2px 0;
}

.heading-text {
    text-align: right;
    color: var(--background-color);
    font-size: 3.7rem;
}

.bar-black30 {
    width: 100%;
    background-color: var(--background-color);
    height: 9px;
}

.bar-black31 {
    width: 100%;
    background-color: var(--background-color);
    height: 4px;
    margin-top: 3px;
}
.bar-black32 {
    width: 100%;
    background-color: var(--background-color);
    height: 2px;
    margin-top: 3px;
}

.about-writeup {
    padding: 30px;
    color: var(--background-color);
    margin-top: 40px;
   
}

.first-paragraph {
    text-indent: 3ch;
}

.bar-brown30 {
    height: 100%;
    background-color: var(--brown-color);
    width: 10px;
    margin-left: 6px;
}

.bar-black33 {
    height: 100%;
    background-color: var(--background-color);
    width: 6px;
    margin-left: 6px;
}

.about-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-photo {
    height: 70%;
    width: auto;
    border-radius: 0 45px 0 45px;
}

/* Footer for Pages */

.footer-bars {
    margin-top: 200px;
}

/* -------------------  Contact Page ----------------------- */

#main-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    /* height: auto; */
    margin: 250px auto 0;
    padding: 0 2vw;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 100%;
    width: 100%; */
}

.contact-top {
    display: grid;
    grid-template-columns: 1fr 9fr;
    width: 100%;
}

.contact-left {
    height: 100%;
    width: 100%;
}

.vertical-brown-dots {
    max-height: 486px;
    width: auto;
    margin-bottom: -40px;
}


.contact-us-heading {
    font-size: 3rem;
}

.contact-us-heading-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: -16px;
}

.white-block2 {
    background-color: var(--main-background-color);
    height: 20px;
    width: 20px;
}
.blue-block2 {
    background-color: var(--blue-color);
    height: 20px;
    width: 20px;
}
.brown-block2 {
    background-color: var(--brown-color);
    height: 20px;
    width: 20px;
}

/* Contact Form */

.contact-form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.contact-form div {
    display: flex;
}

.message {
    flex-direction: column;
}

.name-container, .email-container {
    border-bottom: 3px solid var(--brown-color); 
    margin-bottom: 30px;
}

/* Error Class */

.name-container-error {
    border-bottom: 3px solid rgb(188, 36, 92);
}



.message-container {
    display: flex;
    flex-direction: column;
    border: none;
}

.message-section{
    border: 3px solid var(--brown-color);
    margin-bottom: 20px;
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: var(--main-background-color)
}

.message-error-border {
    border: 3px solid rgb(188, 36, 92);
}

.label {
    margin-right: 10px;
}

label {
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

input {
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: var(--main-background-color);
    margin-bottom: 5px;
    width: 100%;
    
}

#name, #email, #message {
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    outline: none;
    resize: none;
}

#name, #email {
    border: none;
   
}

.main-submit-container {
    align-self: flex-end;
    border: none;
}

.submit-button2 {
    display: inline-block;
    border: 2px solid var(--brown-color);
    background-color: transparent;
    padding: 5px 10px;
    color: var(--main-background-color);
    font-size: 1.3rem;
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: all .35s;
}

.submit-button2 span {
    position: relative;
    z-index: 2;
}

.submit-button2:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--blue-color);
  z-index: 1;
  transition: all .35s ease;
}

.submit-button2:hover {
    color: var(--background-color);
}

.submit-button2:hover:after {
    width: 100%;
}

/* */

.brown-line {
    width: 100%;
    height: 3px;
    background-color: var(--brown-color);
    margin-top: 140px;
}

.text-wrapper {
    display: flex;
    justify-content: space-between
}

.location-container {
    display: flex;
    flex-direction: column;
}

.info-heading {
    font-size: 0.9rem;
    text-decoration: underline;
    margin: 14px 0;
}

.info-text {
    font-size: 0.9rem;
}

.error {
    position: absolute;
    margin-left: 260px;
    color: rgb(188, 36, 92);
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.error-border {
    border-bottom: 5px solid rgb(188, 36, 92);
    border-top: 5px solid rgb(188, 36, 92);
    background-color: rgb(188, 36, 92);
}

#success {
    color: #66c27b;
}

.success-container {
    margin: 20px auto 0;
}



















