/* Fonts */

@font-face {
    font-family: "Tan Nimbus";
    font-weight: 800;
    font-style: normal;
    src: url("./fonts/TAN-NIMBUS.otf")
}

@font-face {
    font-family: "PT Mono";
    font-weight: 400;
    font-style: normal;
    src: url("./fonts/PT-Mono.ttf")
}

@font-face {
    font-family: "PT Mono";
    font-weight: 700;
    font-style: normal;
    src: url("./fonts/PT-Mono-Bold.ttf")
}




/* Delcaring CSS Variables */

:root {
    --main-background-color: #DDDDDB;
    --background-color: #21211D;
    --brown-color: #755330;
    --blue-color: #7CC0CB;
}



/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Setting Font Weights */

h1 {
    font-family: "gamay", "sans-serif";
    font-weight: 600;
    font-style: normal;
}

h2 {
    font-family: "Tan Nimbus";
    font-weight: 800;
    font-style: normal;
}

h3 {
    font-family: "gamay", "sans-serif";
    font-weight: 500;
    font-style: italic;
}

h4 {
    font-family: "gamay", "sans-serif";
    font-weight: 200;
    font-style: italic;
}

p {
    font-family: "PT Mono", "serif";
    font-weight: 400;
    font-style: normal;
}


/* Global Styles */


body {
    color: var(--main-background-color)
}

html {
    

}

.primary-background {
    background-color: var(--main-background-color);
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-background {
    background-color: var(--background-color);
    margin: 40px;
    width: 100%;
    border-radius: 40px 40px 0 0;
}

ul {
    list-style: none;
    font-family: "gamay", "sans-serif";
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vh;
    letter-spacing: 0.5px;
    cursor: pointer;

}

li {
    margin-right: 40px;
}


/* Navigation */


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;

    
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.nav-center {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.nav-logo {
    height: 3.1vh;
    width: auto;
}

.nav-right {
    display: flex; 
    gap: 5rem;
}

/* Hero Section */

.hero-container {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 6vh;
}

.illustration {
    max-width: 100%;
    height: auto;
    position: relative;


}

.hero-text {
    position: absolute;
    top: 9%;
    font-size: 1.7vw;
    z-index: 10;

}

/* Divider 1 */ 

.bar-brown {
    width: 100%;
    height: 4px;
    background-color: var(--brown-color);
}

.bar-black1 {
    width: 100%;
    height: 2px;
    background-color: var(--background-color);

}

.bar-black2 {
    width: 100%;
    height: 3px;
    background-color: var(--background-color);
}
.bar-black3 {
    width: 100%;
    height: 4px;
    background-color: var(--background-color);
}
.bar-black4 {
    width: 100%;
    height: 7px;
    background-color: var(--background-color);
}
.bar-black5 {
    width: 100%;
    height: 10px;
    background-color: var(--background-color);
}
.bar-black6 {
    width: 100%;
    height: 14px;
    background-color: var(--background-color);
}
.bar-black7 {
    width: 100%;
    height: 15px;
    background-color: var(--background-color);
}

.bar-blue1 {
    width: 100%;
    height: 15px;
    background-color: var(--blue-color);
}

.bar-black8 {
    width: 100%;
    height: 6px;
    background-color: var(--background-color);
}

.bar-white1 {
    width: 100%;
    height: 15px;
    background-color: var(--main-background-color);
}

/* Process Container */

.process-top-container  {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    margin: 2vw;
    height: 100%;
    padding: 1.5rem 2vw;
}

.geometric-eye {
    width: 80%; 
    height: auto;
}

.right-side {
    justify-self: center;
    font-size: 3.5vw;
}

.bold-italic {
    font-family: "gamay", "serif";
    font-weight: 400;
    font-style: italic;
}

.process-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin-bottom: 8vh;
    align-items: center;
    justify-content: center;
    
}

.process-left {
    margin-left: 5vw;
    margin-top: 2vh;
    height: 100%;
}

.start-to-finish {
    height: 14vw;
    align-self: center;
}

.process-right {
    margin-right: 5vw;
    display: grid;
   
}

.connect, .design, .develop, .launch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--main-background-color);
    font-size: 3vh;
    padding: 0 1vw;
   
}

.launch {
    border-bottom: 1px solid var(--main-background-color);
}

.plus-sign {
    height: 50%;
}

.left {
    

    
}

.brown-halftones {
    width: 100%;
    height: auto;
}






